<p-toast [baseZIndex]="5000"></p-toast>
<div class="hLoader"  [style]="{height: '6px', overflow: 'hidden', visibility: loader ? 'visible' : 'hidden'}">
  <p-progressBar
    mode="indeterminate"
  ></p-progressBar>
</div>
<!--/.row-->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header" style="padding: 8px; text-align: center">
        <div class="row">
          <div class="col-3">
            <div class="float-left">
              <i class="fa fa-align-justify"></i> Manage {{ title }}
            </div>
          </div>
          <div class="col-6">
            <div hidden class="float-left">
              <span style="margin-left: 10px; font-weight: bold">
                <a [routerLink]="'/agents/agent'" class="btn btn-outline-info"
                  >Agents</a
                >
                |
                <!-- <a
                  [routerLink]="'/agents/commission'"
                  class="btn btn-outline-info"
                  >Agent Commission</a
                > -->
                |
                <a
                  [routerLink]="'/agents/commission-group'"
                  class="btn btn-outline-info"
                  >Commission Group</a
                >
              </span>
            </div>
          </div>
          <div class="col-3">
            <!-- tools -->
            <div class="float-right">
              <div
                class="btn-group"
                role="group"
                aria-label="button group"
                style="margin-right: 20px"
              >
                <button
                  type="button"
                  label="PDF"
                  (click)="exportPdf()"
                  class="btn btn-primary btn-sm"
                  pTooltip="Download PDF"
                  tooltipPosition="top"
                >
                  <i class="fa fa-file-pdf-o"></i>
                </button>
                <button
                  type="button"
                  iconPos="left"
                  label="CSV"
                  (click)="dt.exportCSV()"
                  pTooltip="Download CSV"
                  class="btn btn-secondary btn-sm"
                  tooltipPosition="top"
                >
                  <i class="fa fa-file-excel-o"></i>
                </button>
                <button
                  (click)="captureScreen()"
                  class="btn btn-facebook btn-sm"
                  pTooltip="Capture Screen"
                  tooltipPosition="top"
                >
                  <i class="fa fa-image"></i>
                </button>
              </div>
              <!-- --- -->
              <button
                type="button"
                data-toggle="modal"
                (click)="editMode = false; frm.reset(); modalAddEdit.show()"
                class="btn btn-success"
                tooltipPosition="top"
                pTooltip="Add Records"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p-table
          #dt
          [columns]="cols"
          [value]="database"
          [lazy]="true"
          (onLazyLoad)="loadRowsLazy($event)"
          sortField="id"
          [sortOrder]="1"
          reorderableColumns="true"
          sortMode="multiple"
          [paginator]="true"
          [rows]="limit"
          [totalRecords]="totalRecords"
          [loading]="loading"
          [rowsPerPageOptions]="pageRange"
        >
          <ng-template pTemplate="header" let-columns>
            <tr
              class="shadow-lg p-3 mb-10"
              style="border-bottom: 2px solid #ccc"
            >
              <th
                *ngFor="let col of columns"
                [pSortableColumn]="col.field"
                class=""
              >
                {{ col.header }}
                <p-sortIcon
                  [field]="col.field"
                  ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"
                ></p-sortIcon>
              </th>
              <th>Options</th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input
                  *ngSwitchCase="'id'"
                  pInputText
                  type="text"
                  class="form-control form-control-sm"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
                <input
                  *ngSwitchCase="'name'"
                  pInputText
                  type="text"
                  class="form-control form-control-sm"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td
                *ngFor="let col of columns"
                style="
                  padding-top: 0px !important;
                  padding-bottom: 0px !important;
                "
              >
                {{ rowData[col.field] }}
              </td>
              <td>
                <button
                  class="btn btn-sm btn-outline-primary"
                  data-toggle="modal"
                  pTooltip="Manage Groups"
                  (click)="
                    editId = rowData.id;
                    groupMasterName = rowData.name;
                    selectedGroupId = null;
                    modalAddGroup.show()
                  "
                  tooltipPosition="top"
                >
                  <i class="fa fa-list"></i>
                </button>
                <button
                  class="btn btn-sm btn-outline-warning"
                  pTooltip="Edit"
                  tooltipPosition="top"
                  (click)="
                    editMode = true;
                    updateForm(frm, rowData);
                    modalAddEdit.show()
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  data-toggle="modal"
                  pTooltip="Delete"
                  tooltipPosition="top"
                  (click)="openDeleteModal(rowData.id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <div style="background: #49a9d8; color: #fff; border-radius: 5px; padding: 5px 8px;" class="font-weight-bold">
              {{ state.totalRecords }} record(s) found.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <!-- ================================END BODY================================================== -->
  <!-- Modals Area (out of design area) -->
  <!-- Add modals -->
  <div
    bsModal
    [config]="{backdrop: 'static', keyboard: false}"
    #modalAddEdit="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md" role="document">
      <form #frm="ngForm" (ngSubmit)="onAddEdit(frm)">
        <div
          [class]="
            editMode
              ? 'modal-content  border border-warning'
              : 'modal-content  border border-success'
          "
        >
          <div
            [class]="
              editMode ? 'modal-header bg-warning' : 'modal-header bg-success'
            "
          >
            <h4 class="modal-title">
              {{ editMode ? 'EDIT' : 'ADD' }} {{ title | uppercase }}
              <span *ngIf="editMode">: ID - {{ editId }}</span>
            </h4>
            <button
              type="button"
              class="close"
              (click)="modalAddEdit.hide()"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div>
            <small class="text-muted form-text p10"
              >All fields are mandatory.</small
            >
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Commission Group Master Name</label>
              <input
                type="text"
                name="name"
                ngModel
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modalAddEdit.hide()"
            >
              Close
            </button>
            <button
              type="submit"
              [class]="editMode ? 'btn btn-warning' : 'btn btn-success'"
              [disabled]="!frm.valid"
            >
              {{ editMode ? 'Update Record' : 'Add Record' }}
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </form>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- //------------------- -->
  <!-- ===============Add Group into master with price===================== -->
  <div
    bsModal
    [config]="{backdrop: 'static', keyboard: false}"
    #modalAddGroup="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <form #frmGroup="ngForm" (ngSubmit)="onSaveGroup(frmGroup)">
        <div class="modal-content border border-primary">
          <div class="modal-header bg-primary">
            <h4 class="modal-title">
              Add Groups into
              <span class="text-warning">{{ groupMasterName }}</span> Master
              Group
              <span>: ID - {{ editId }}</span>
            </h4>
            <button
              type="button"
              class="close"
              (click)="modalAddGroup.hide()"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-5">
                <b>Available Groups:</b
                ><span class="text-secondary"> (step 1)</span><br />
                <p-listbox
                  [options]="dbGroups"
                  name="group"
                  [(ngModel)]="selectedGroup"
                  optionLabel="name"
                  [style]="{ height: '100%', width: '100%' }"
                  (click)="onGroupClick(frmGroup)"
                ></p-listbox>
              </div>
              <div class="col-1" style="margin-top: auto; margin-bottom: auto">
                <span
                  class="fa fa-arrow-circle-o-right"
                  style="font-size: 30px; color: grey"
                ></span>
              </div>
              <div class="col-6" *ngIf="selectedGroupId">
                <b>Group Rate:</b><span class="text-secondary"> (step 2)</span
                ><br />
                <br />
                Group Master: <b>{{ groupMasterName }}</b> &nbsp;&nbsp; Group
                Name: <b>{{ selectedGroup['name'] }}</b> <br /><br />
                <p-dropdown
                  [options]="staticPaymentStyle"
                  placeholder="Select Payment Style"
                  [style]="{ width: '100%' }"
                  name="payment_style"
                  [(ngModel)]="groupPayStyle"
                  required
                ></p-dropdown>
                <br /><br />
                <input
                  type="text"
                  placeholder="Amount"
                  class="form-control"
                  name="amount"
                  [(ngModel)]="groupAmount"
                  required
                  pattern="^[1-9]+[0-9]*$"
                />
                <button
                  type="submit"
                  class="btn btn-warning btn-md float-right mt-3"
                  [disabled]="!frmGroup.valid"
                >
                  Save
                </button>
              </div>
            </div>
            <br /><br />
          </div>
        </div>
        <!-- /.modal-content -->
      </form>
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
