<div style="max-width: 300px; padding: 20px; margin: auto;">
    <div style="height: 20px;"></div>
    <img style="width: 200px; margin: auto; display: block;" src="assets/img/brand/labsystem.png"  alt="">
    <div style="height: 20px;"></div>
</div>
<div style="text-align: center;">
    <div>
        <h3>Welcome To:</h3>
        <h2>{{centerName}}</h2>
        <div>{{centerAddress}}</div>
        <div><i class="fa fa-phone"></i> {{centerMobile}}</div>
    </div>
    <div style="height: 20px;"></div>
    <div style="max-width: 300px; margin: auto;">
        <div class="form-group">
            <button routerLink="/select-report" class="btn btn-primary btn-block"><i class="fa fa-download"></i> Report download</button>
            <button routerLink="/sample-collection" class="btn btn-primary btn-block"><i class="fa fa-tint"></i> Request for sample collection</button>
            <button routerLink="/fix-appointment" class="btn btn-primary btn-block"><i class="fa fa-calendar"></i> Request for doctor appointment</button>
        </div>
    </div>
</div>